<header
  dir="rtl"
  class="border-b border-zinc-800 bg-zinc-950 text-white"
>
  <div class="mx-auto flex min-h-20 max-w-7xl items-center justify-between px-6">

    <!-- Logo -->
    <a
      routerLink="/"
      class="flex items-center gap-2"
    >
      <div
        class="flex h-11 w-11 items-center justify-center rounded-xl bg-red-600 text-xl font-black"
      >
        <img
src="/images.jpg"
  alt="سینما تیکت"
>
      </div>

      <div>
        <h1 class="text-xl font-black">
          سینما‌تیکت
        </h1>

        <span class="text-xs text-zinc-400">
          خرید بلیط سینما
        </span>
      </div>
    </a>


    <!-- Navigation -->
    <nav class="hidden items-center gap-7 lg:flex">

      <a
        routerLink="/cinemas"
        class="text-sm text-zinc-300 transition hover:text-red-500"
      >
        سینما
      </a>

      <a
        routerLink="/movies"
        class="text-sm text-zinc-300 transition hover:text-red-500"
      >
        فیلم ایرانی
      </a>

      <a
        href="#"
        class="text-sm text-zinc-300 transition hover:text-red-500"
      >
        فیلم خارجی
      </a>

      <a
        href="#"
        class="text-sm text-zinc-300 transition hover:text-red-500"
      >
        تئاتر
      </a>

      <a
        href="#"
        class="text-sm text-zinc-300 transition hover:text-red-500"
      >
        کنسرت
      </a>

      <a
        href="#"
        class="text-sm text-zinc-300 transition hover:text-red-500"
      >
        هنر و تجربه
      </a>

    </nav>


    <!-- Login -->
    <a
      routerLink="/login"
      class="rounded-xl border border-zinc-700 px-5 py-2.5 text-sm font-medium transition hover:border-red-500 hover:bg-red-600"
    >
      ورود / ثبت‌نام
    </a>

  </div>
</header>