/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@font-face {
    font-family: vazir;
    src: url(./assets/fonts/Vazirmatn[wght].woff2);
}
body{
    max-width: 1300px;
    margin: auto;
    background: #09090b;
    font-family:vazir ;
}